body {
  background-color:rgb(235,230,255 );
  scroll-behavior: smooth;
}



.ResponsiveTable {
  float: left;
  width: 50%;
}

table {
  margin: 10px;
  border-collapse: collapse;
  border: 3px inset black
}
td {
  height: 70px;
  padding: 5px;
  margin: 10px;
  border-collapse: collapse;
  border: 3px inset black;
}
th {
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-collapse: collapse;
  border-bottom: 3px inset black;
}
h3 {
  text-align: center
}
img {
  vertical-align: middle;
}
.Negative {
  color: red;
}
.Positive {
  color: green;
}


#Swords {
  background-color: rgb(11,163,260,0.2);
}
#Daggers {
  background-color: rgb(90,256,81,0.4)
}
#Maces {
  background-color: rgb(95,83,29,0.3);
}
#Hammers {
  background-color: rgb(34,15,67,0.3);
}
#Spears {
  background-color: rgb(11,163,260,0.2);
}
#Axes {
  background-color: rgb(90,256,81,0.4);
}
#Flails {
  background-color: rgb(95,83,29,0.3);
}
#Cleavers {
  background-color: rgb(34,15,67,0.3);
}
#Polearms {
  background-color: rgb(11,163,260,0.2);
}

tr:hover {
  background-color: rgb(100,200,50,0.7);
}


h1 {
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .ResponsiveTable {
    width:100%;
    }
  }
